.about {
  position: relative;
  height: 580px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 80% 100%;
  
  &::before {
    content: '';
    background: #484283;
    position: absolute;
    top: 0;
    left: -460px;
    width: 80%;
    height: 100%;
    display: block;
    z-index: 1; 
    transform: skew(-16deg, 0deg);
  }

  &::after {
    content: '';
    background: #484283;
    position: absolute;
    top: 0;
    right: -20%;
    width: 40%;
    height: 100%;
    display: block;
    z-index: 1; 
    transform: skew(-16deg, 0deg);
  }

  &__figure {
    position: absolute;
    z-index: 1;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__text {
    position: relative;
    z-index: 1;
    width: 38%;
    transform: translate(90px, 10px);
  }

  &__title {
    margin-bottom: var(--second-offset);
    color: var(--color-white);
  }

  &__descr {
    font: var(--middle-book);
    color: var(--color-white);
    
  }

  &__quote {
    display: inline-block;
    margin-bottom: var(--second-offset);
    max-width: 380px;
    font: inherit;

    &::before,
    &::after {
      display: none;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font: var(--prehigh-regular);
    font-style: normal;
    letter-spacing: 0.02em;
    transform: translateX(10px);

    &::before {
      content: '';
      display: inline-block;
      margin-right: var(--second-offset);
      width: 30px;
      height: 3px;
      background-color: var(--color-white);
    }
  }

  
}

  

